body{
  background-color: $backColor;
  //background:url($mainBgImage) bottom center fixed no-repeat;
}

::selection {
  background: $activeColor;
  color:$whitish;
}

::-moz-selection {
  background: $activeColor;
  color:$whitish;
}


.container{
  position:absolute;
  width:100%;
  height:100%;
  background:url($mainBgImage) bottom center fixed no-repeat;
  .opacity{
    position:absolute;
    width:100%;
    height:100%;
    //background:rgba(255,255,255,0.25); /* Standard Off */
  }  
}
/*.container::before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background:url($mainBgImage) bottom center fixed no-repeat;
  width: 100%;
  height: 100%;
  
  //filter: blur(15px);
}*/



img.responsive{
  width: 100%;
  height: auto;
}



.onlySmall{
  display:none;
}

a.noDecorate{
  text-decoration: none;
  color: $darkText;
}