

.card {
  //border: 1px solid $whitish;
  display: inline-block;
  width: 300px;  
  padding:1.5rem;

  //box-shadow:0 1px 2px #aaa;
  margin:0 1rem 1rem;
  border-radius:3px;
  position: relative;
  z-index: 100;  
  //user-select:none;
  /*animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;*/
}

.current{
  
  padding-top: 100px;
  text-align: center; 
  margin:auto;
  h1{
    font-size: 6rem;
  }
  .conditions{
    color:$whitish;
    font-size:6rem;
    font-weight: 100;
    text-align:center;
    margin: auto;

  }
  .tempRange{

  }
  .low, .high{
    width: 40%;
    display:inline-block;
    padding: 3%;
    h2{
      padding-bottom: 20px;
    }
    .temp{
      color: $whitish;
    }
  }
}